html,
body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll-off {
  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: industry, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

p {
  font-family: soleto, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0 8vw;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#nav-container {
  display: block;
  height: 150px;
  width: 100%;
}
#links {
  position: absolute;
  right: 0px;
  top: 76px;
  margin-right: 50px;
}

@media (max-width: 1200px) {
  #links {
    display: none;
  }
}

#top-logo {
  position: absolute;
  left: 7vw;
  top: 50px;
  height: 75px;
  width: 75px;
}

#nav-container a {
  font-family: soleto, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  font-size: 20px;
  color: #e41c38;
  margin: 0 75px;
}

.top-link {
  border-radius: 50px;
  padding: 10px 20px;
  font-weight: 500;
}

.top-link:hover {
  color: #fff;
  background-color: #001a33;
  transition: all 0.4s ease-in-out;
}

.expandable-menu {
  display: none;
  z-index: 9;
  position: absolute;
  top: 55px;
  right: 5vw;
  text-align: center;
  background-color: #001a33;
  width: 40vw;
  height: 350px;
  text-decoration: none;
  padding: 20px 0;
  list-style: none;
  text-decoration: none;
  border-radius: 25px;
}

.show {
  display: block;
}

@media (min-width: 1200px) {
  .show {
    display: none;
  }
}

.expandable-menu > ul {
  display: block;
  height: 250px;
  padding-top: 10px;
  list-style: none;
  text-align: center;
}

.menu-item {
  width: 80%;
  color: #fff;
  margin: 30px auto;
  padding: 10px 0 12px 0;
  border-radius: 50px;
  font-family: soleto, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  font-size: 20px;
}

.menu-item:hover {
  background-color: #e41c38;
  transition: background-color 0.4s ease-in-out;
}


/* ------------------------------------------------- */

/* Welcome Section */
#welcome-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section h1 {
  margin-bottom: 10px;
  color: #001a33;
  font-size: 40px;
}

#welcome-section p {
  max-width: 450px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
  color: #001a33;
  line-height: 30px;
}

#headshot {
  display: block;
  margin: 0 auto;
  width: 30vw;
  min-width: 300px;
  height: auto;
  z-index: 2;
  background-color: none;
}

#about-me {
  background-color: #e41c38;
  min-height: 800px;
  z-index: 10;
}

#intro {
  position: relative;
  background-color: #001a33;
  min-width: 225px;
  margin: 0px 8vw;
  padding-top: 90px;
  padding-bottom: 60px;
  border-radius: 25px;
  top: -70px;
  z-index: 1;
  text-align: center;
}

#intro > h2,
#intro > p {
  color: #fff;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

#intro > h2 {
  font-size: 30px;
  padding-bottom: 10px;
  padding: 0 25px;
}

#intro > p {
  font-size: 20px;
  line-height: 30px;
  padding: 0 25px;
}

#coding-back {
  display: block;
  position: relative;
  width: 500px;
  max-width: 100%;
  height: auto;
  z-index: 2;
  top: -120px;
  left: 47vw;
}

@media (max-width: 1250px) {
  #coding-back {
    width: 400px;
  }
  #skills-container {
    top: -100px;
  }
}

@media (max-width: 722px) {
  #coding-back {
    width: 350px;
  }
}

@media (max-width: 615px) {
  #skills-container {
    top: -50px;
  }
}

@media (max-width: 573px) {
  #skills-container {
    top: -20px;
  }
}
@media (max-width: 506px) {
  #skills-container {
    top: 0px;
  }
}

@media (max-width: 436px) {
  #coding-back {
    width: 300px;
  }
  #skills-container {
    top: 0px;
  }
}

#coding-back-container {
  display: block;
  position: relative;
}
/* ------------------------------------------------- */

/* Skills Section */
#skills-container {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.skills-column {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 250px;
  min-width: 250px;
  height: 550px;
  background-color: #fff;
  border: 2px solid #e41c38;
  border-radius: 10px;
  padding: 20px 50px 50px 50px;
  z-index: 1;
}

.tech-name {
  padding: 20px 0;
  font-size: 20px;
}

.skill-icon {
  transform: scale(0.5);
}

#handshake {
  position: relative;
  display: block;
  padding-top: 29px;
}

#tools {
  position: relative;
  display: block;
  top: -6px;
}

#tools-content {
  position: relative;
  display: block;
  top: -8px;
  text-align: center;
}

#skills {
  display: flex;
  position: relative;
  top: -180px;
}
/* ------------------------------------------------- */

/* Projects Section */
#projects {
  display: block;
  position: relative;
  top: -140px;
}

@media (max-width: 722px) {
  #projects {
    top: -100px;
  }
}

#projects > h2 {
  font-size: 30px;
  color: #001a33;
  margin: 0px;
  padding: 0;
}

#projects > p {
  display: block;
  position: relative;
  justify-content: center;
  margin: 10px auto 20px auto;
  padding: 0 3vw;
  color: #001a33;
  font-size: 20px;
  text-align: center;
}

#tile-wrapper {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 250px;
  border: 2px solid #001a33;
  color: #001a33;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.project-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.desc {
  color: #001a33;
}

.project-desc > p {
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

.desc-links {
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 400px;
  height: 100px;
}

.desc-bg {
  position: relative;
  padding: 20px 30px 10px 30px;
  margin: 10px;
  height: 50px;
  border: 2px solid #e41c38;
  border-radius: 50px;
}

.fas,
.fab {
  font-size: 25px;
  font-weight: 200;
  margin-top: 30px;
  color: #e41c38;
}

.git {
  border-color: #001a33;
}

i.fa-github {
  color: #001a33;
}

.desc-bg:hover {
  background-color: #e41c38;
  transition: background-color 0.4s ease-in-out;
}

.desc-bg:hover > .fas,
.fab {
  color: #fff;
  transition: color 0.4s ease-in-out;
}

.git:hover {
  background-color: #001a33;
  transition: background-color 0.4s ease-in-out;
}

.git:hover > i.fa-github {
  color: #fff;
  transition: color 0.4s ease-in-out;
}
/* ------------------------------------------------- */

/* Contact Section */
#coding-front {
  display: block;
  position: relative;
  width: 35vw;
  min-width: 300px;
  max-width: 100%;
  height: auto;
  top: -100px;
  z-index: 2;
  left: 15vw;
}

#contact {
  display: block;
  position: relative;
  background: repeating-linear-gradient(
    #fff,
    #fff 49.99999%,
    #e41c38 50.00001%,
    #e41c38 100%
  );
}

#contact-container {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #001a33;
  color: #fff;
  border-radius: 25px;
  margin: 0 8vw;
  top: -200px;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

@media (max-width: 900px) {
  #contact-container {
    flex-direction: column;
    padding-top: 50px;
    top: -140px;
  }

  #form-container {
    margin-top: 25px;
  }

  #coding-front {
    left: 0px;
    margin: 0 auto;
  }

  #coding-back {
    left: 0px;
    margin: 0 auto;
  }
}

#contact-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

#contact-desc > h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

#contact-desc > p {
  max-width: 380px;
  font-size: 20px;
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

form > input,
textarea,
button {
  font-family: soleto, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  border-radius: 20px;
  border: 2px solid #e41c38;
  padding: 0px 10px;
  margin-bottom: 10px;
  color: #001a33;
}

form > input {
  height: 26px;
  max-width: 300px;
  min-width: 260px;
}

form > textarea {
  max-width: 300px;
  min-width: 260px;
  height: 200px;
  resize: none;
  padding-top: 5px;
}

textarea:focus {
  outline: none;
}

#button-container {
  display: flex;
  justify-content: center;
}

#submit {
  width: 120px;
  height: 50px;
  border-radius: 30px;
  background-color: #001a33;
  color: #fff;
  padding: 0px;
  margin: 0px;
  position: relative;
}

#submit:hover {
  background-color: #e41c38;
  transition: all 0.4s ease-in-out;
}

#submit:focus {
  outline: none;
}
/* ------------------------------------------------- */

/* Footer */
footer {
  position: relative;
  background-color: #e41c38;
  height: 200px;
  font-family: soleto, sans-serif;
  font-weight: 500;
}

footer > p {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  top: -90px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

footer > ul {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: -70px;
}
footer li {
  padding: 5px 3vw;
  list-style: none;
  font-family: soleto, sans-serif;
  font-weight: 500;
}

footer span {
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 18px;
  color: #fff;
  top: -30px;
  font-size: 20px;
}

.footer-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #fff;
  transition: all 0.4s ease-in-out;
}

.footer-icon > i {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
}

.footer-icon:hover {
  transform: scale(1.2);
}

.link-title {
  font-family: soleto, sans-serif;
  font-weight: 500;
  margin: 0;
}
/* ------------------------------------------------- */

/* Full Page Loader */

div.loading {
  opacity: 1;
  position: fixed;
  z-index: 99998;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  height: 100vh;
  background-color: #001a33;
  overflow: auto;
  overflow-y: hidden;
}

.loading.spinner {
  opacity: 1;
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  border: 10px solid #fff; /* Light grey */
  border-top: 10px solid #e41c38; /* Red */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1.5s ease-in-out infinite;
  animation: spin 1.5s ease-in-out infinite;
  overflow: auto;
  overflow-y: hidden;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.loading.loaded {
  opacity: 0;
  transition: opacity 1s ease-out;
  z-index: -99999;
}
/* ------------------------------------------------- */